/* 1 Utilitario */

/* 1.1 fondos */
.bg-white {
    background-color: #FFF;
}

.bg-platinum {
    background-color: #E8EBE4;
}

.bg-gray {
    background-color: #BEC1BB;
}

.bg-bluebell {
    background-color: #A491D2;
}

.bg-soap {
    background-color: #CDC3E6;
}

.bg-palelavender {
    background-color: #D4DCFF;
}

.bg-darkjungle {
    background-color: #1B1F21;
}

.bg-outerspace {
    background-color: #444749;
}

.bg-oldsilver {
    background-color: #828485;
}

.bg-graygodrick {
    background-color: #F8F8F8;
}

.bg-graymalenia {
    background-color: #F2F2F2;
}

/* 1.2 color */
.color-white {
    color: #FFF;
}

.color-platinum {
    color: #E8EBE4;
}

.color-gray {
    color: #BEC1BB;
}

.color-bluebell {
    color: #A491D2;
}

.color-soap {
    color: #CDC3E6;
}

.color-palelavender {
    color: #D4DCFF;
}

.color-darkjungle {
    color: #1B1F21;
}

.color-outerspace {
    color: #444749;
}

.color-oldsilver {
    color: #828485;
}

.color-graygodrick {
    color: #F8F8F8;
}

.color-graymalenia {
    color: #F2F2F2;
}


/* 1.3 Fuentes */
.robto-large {
    font-family: 'Roboto', sans-serif;
    font-size: 2.813rem;
}

.roboto-medium {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.robto-small {
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
}

.robto-xsmall {
    font-family: 'Roboto', sans-serif;
    font-size: 0.625rem;
}

.sans-large {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.813rem;
}

.sans-medium {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.sans-small {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
}

.sans-xsmall {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.625rem;
}

/* 1.4 Avatares */
.avatar-tiny {
    border-radius: 50%;
    border: solid 3px #E8EBE4;
    height: 50px;
    width: 50px;
}

.avatar-normal {
    border-radius: 50%;
    height: 75px;
    border: solid 2px #E8EBE4;
    width: 75px;
}

/* Utilidad bordes */
.borde-util {
    border: solid 2px black;
}

/* 2 Contenido principal */
.f-principal {
    display: flex;
    flex-direction: row;
}

.i-contactos {
    flex-grow: 1;
    height: 100vh;
    width: 22vw;
}

.i-mensajes {
    flex-grow: 1;
    height: 100vh;
    width: 100vw;
    border-left: solid 3px #F2F2F2;
}

.f-mensajes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.f-mensajes img {
    height: 200px;
    width: 200px;
}

/* 3 Contactos */

/* 3.1 Usuario activo */
.f-usuario-activo {
    display: flex;
    justify-content: space-between;
}

.f-estado {
    display: flex;
    margin-left: 2rem;
    padding-top: 0.5rem;
}

.padding-left-estado {
    padding-left: 0.5rem;
}

.padding-top-estado {
    padding-top: 7px
}


/* 3.2 Operaciones */
.icono {
    font-size: 2rem;
    padding-top: 1.8rem;
    color: #BEC1BB;
}

.padding-izq-operaciones {
    padding-left: 1rem;
}

.i-operaciones {
    margin-right: 2rem;
}


/* 3.3  Nuevo chat */
.f-agregar-contacto {
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.f-agregar-contacto button {
    width: 50%;
    height: 25%;
    border: none;
}

/* 3.3 Nuevo chat */

.f-agregar-contacto button:hover {
    background-color: #CDC3E6;
}

.f-agregar-contacto button:focus {
    background-color: #BEC1BB;
}

/* 3.4 Personas */

.f-persona {
    display: flex;
    margin-left: 2rem;
}

.padding-y {
    padding-bottom: 0.3rem;
    padding-top: 0.6rem;
}

.padding-left-inner-contacto {
    padding-left: 0.8rem;
}

/*3.4 Separador */
hr {
    border: solid 2px #E8EBE4;
}
